@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149018549.jpg?t=st=1718621135~exp=1718624735~hmac=66031800d0ddbe7e5bdb532e372c7e55fa0231a4d52fb9aeae026bad698eb65f&w=996'); 
    background-size: cover; 
    background-position: center;
} */

