<%- include('./partials/header') %>

<% if(error.length > 0) { %>
    <div id="message" class="absolute top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

<div class="w-full h-screen flex px-20" style="background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149018549.jpg?t=st=1718621135~exp=1718624735~hmac=66031800d0ddbe7e5bdb532e372c7e55fa0231a4d52fb9aeae026bad698eb65f&w=996'); background-size: cover; background-position: center;">
    <div class="w-1/2 flex items-center justify-center h-screen p-10">
        <div class="w-full px-30">
            <h3 class="text-3xl text-black  mb-6">Welcome to <span class="text-green-800 text-4xl  font-semibold">SustainMart</span> </h3>
            <h4 class="text-2xl mb-5">Create Your Account</h4>
            <form autocomplete="off" action="/users/register" method="post">
                <input
                    class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3"
                    type="text" placeholder="Full Name" name="fullname" required>
                <input
                    class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3"
                    type="number" placeholder="Contact" name="contact" required>
                <input
                    class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3"
                    type="email" placeholder="Email" name="email" required>
                <input
                    class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3"
                    type="password" placeholder="Password" name="password" required>
                <input class="px-5 py-3 mt-2 bg-blue-500 text-white rounded-full cursor-pointer hover:bg-blue-600 transition duration-200" type="submit" value="Create My Account">
            </form>
        </div>
    </div>
    <div class="w-1/2 flex items-center justify-center h-screen bg-white bg-opacity-20 shadow-lg p-10">
        <div class="w-full px-32">
            <h4 class="text-2xl capitalize mb-5">Login to Your Account</h4>
            <form autocomplete="off" action="/users/login" method="post">
                <input
                    class="block bg-zinc-100 w-full px-3 py-2 border border-zinc-200 rounded-md mb-3"
                    type="email" placeholder="Email" name="email" required>
                <input
                    class="block bg-zinc-100 w-full px-3 py-2 border border-zinc-200 rounded-md mb-3"
                    type="password" placeholder="Password" name="password" required>
                <input class="px-5 py-3 mt-2 bg-blue-500 text-white rounded-full cursor-pointer hover:bg-blue-600 transition duration-200" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
